#game-container {
  max-width: 600px; 
  width: 90vw;      
  height: 30vw;    
  max-height: 200px; 
  border: 5px solid #8B4513; 
  margin: 20px auto; 
  
  background-image: url('images/MoonBackground.png');
  background-size: cover;                       
  background-repeat: no-repeat;
  background-position: center bottom;            

  position: relative; 
  overflow: hidden; 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

body {
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;  
  min-height: 100vh;     
  
  background-color: #f0e0d0; 
  font-family: sans-serif;
  overflow: hidden; 
}

#start-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; 
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#start-menu h1 {
  color: #ff4500;
  margin-bottom: 5px;
  font-size: 2.5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

#start-menu p {
  color: #8B4513;
  margin-top: 0;
  font-size: 1.2em;
}

#start-menu, #score {
  font-family: 'Pixelify Sans', sans-serif;
}

#start-button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #ff9900; 
  border: 3px solid #ff4500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 5px;
}

#start-button:hover {
  background-color: #ff4500;
}

#cat, #pumpkin, #score {
  visibility: hidden; 
}

@keyframes jump-effect {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); } 
  100% { transform: scale(1); }
}

#cat {
  width: 64px; 
  height: 64px; 
  position: absolute;
  bottom: 10px; 
  left: 20px;
  
  background-image: url('images/FCat1.png'); 
  background-size: cover;
  background-color: transparent; 
  
  border-radius: 0; 
}

#pumpkin {
  width: 60px; 
  height: 45px;
  position: absolute;
  bottom: 10px; 
  right: 0; 
  
  background-image: url('images/FSingular_Pumpkinn.png'); 

  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: transparent; 
  border-radius: 0;
}

.running-frame-1 {
  background-image: url('images/FCat1.png');
}
.running-frame-2 {
  background-image: url('images/FCat2.png');
}

#cat.is-jumping {
  animation: jump-effect 0.1s ease-out; 
}

.obstacle {
  width: 60px; 
  position: absolute;
  bottom: 10px; 
  right: 0; 
  
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;
  
  background-color: transparent; 
}

.obstacle.double-pumpkin {
  width: 60px;
}

.obstacle.triple-pumpkin {
  width: 60px;
}

.obstacle.ghost {
  width: 64px;
  height: 64px;
}

@keyframes obstacleMove {
    from {
        right: -60px;
    }
    to {
        right: 100%;
    }
}

#game-over-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: none; 
  
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; 
  text-align: center;
  padding: 20px;
  font-family: 'Pixelify Sans', monospace;
}

#game-over-screen h1 {
  color: #FF4500; 
  margin-bottom: 5px;
  font-size: 3.5em;
  display: none;
  
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 10; 
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}

#game-over-screen p {
  margin: 5px 0;
  font-size: 1.5em;
}

#final-score {
  font-size: 2.5em;
  font-weight: bold;
  color: #ff9900; 
  margin-bottom: 0.5px;

}

#high-score {
  color: #ffd700; 
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.5em; 
  margin-top: 10px; 
  margin-bottom: 20px;
}

#play-again-button {
  padding: 5px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #8B4513;
  background-color: #f0e0d0; 
  border: 3px solid #ff9900;
  border-radius: 8px;
  cursor: pointer;
  display: block; 
  
  margin-top: 5px; 
  
  transition: background-color 0.2s;
  font-family: 'PawPatchPixel', monospace;
}

#play-again-button:hover {
  background-color: #ff9900;
  color: white;
}